.product{
    width: 100%;
    background-color:var(--white);
    color: var(--black);
    position: relative;
    text-align: center;

  
    
    @media(max-width: 767px){
       
        padding: 0;
        
    }
    .product-container{
        padding: 0 20rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card {
            width: 290px;
            height: 350px;
            // border-radius: 30px;
            background: #e0e0e0;
            box-shadow: 15px 15px 30px #bebebe,
                       -15px -15px 30px #ffffff;
          }
    }

    
  
}